/* css styles */
 

css
body {
  background-color:rgb(255, 255, 255);
  color: #000000
  font-family: 'Segoe UI', sans-serif;
}

.navbar {
  background-color: #1e1e2f;
  color: #000000
}

.navbar a {
  color:rgb(242, 8, 8) !important;
}

h1, h2 {
  color: #2c3e50;
}
